/** Globals */
* {
    box-sizing: border-box;
}

button {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

/** Basics */
body,html {
    margin:0;
    padding:0;
    color: #FFFFFE;
    background-color: #222222;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 100%;
}
#main {
    text-align: center;
}


/** Tiles */
.tiles {
    height: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    padding: .3em;
}
.tiles .tile {
    margin: .3em;
    vertical-align: top;
    background-color: #444444;
    
    width: 6.2rem;
    height: 6.2rem;
    
    padding: .2em;
    text-align: center;
    cursor: pointer;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tiles .tile-icon {
    font-size: 3rem;
    color: #888888;
}
.tile.active .tile-icon {
    color: #AAFF00;
}
.tiles .tile-label {
    font-size: .9rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tile-content {
    padding: 1em 0;
    color: #00A6E9;
    overflow-y: hidden;
}
.tile-content .tile-value,
.tile-content .tile-unit {
    display: inline-block;
    vertical-align: middle;
}
.tile-content .tile-value {
    font-size: 2em;
}
.tile-content .tile-unit {
    vertical-align: top;
}
.tile.sensor .tile-icon {
    font-size: 1.5em;
    display: inline;
    color: #00A6E9;
}



@media screen and (min-width: 700px) {
    .tiles .tile {
        width: 8rem;
        height: 8rem;
    }
    .tiles .tile-icon {
        font-size: 4rem;
    }
    .tile-content .tile-value {
        font-size: 2.5em;
    }

}


/** Modal **/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity ease-in-out .3s;
    display: flex;
    flex-direction: column;
}
.modal.show {
    pointer-events: all;
    opacity: 1;
    transition: opacity ease-in-out .3s;
}
.modal .header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #333;
}
.modal .header .header-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
}
.modal .header:before {
    content: "";
    width: 50px;
}
.modal .header button.close {
    width: 50px;
    color: #666;
}
.modal .body {
    padding: 1em .6em;
    flex-grow: 1;
    overflow-y: auto;
}



/** Chart */
#chart-container {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
#chart {
    margin-left: 40px;
}
#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
#chart-container #y_axis .tick text {
    fill: #fff;
}
#chart-container .rickshaw_graph .x_grid_d3 .tick text,
#chart-container .rickshaw_graph .x_ticks_d3.plain .tick text {
    fill: #000;
    text-anchor: start !important;
    transform: rotate(-90deg) translateX(10px);
}
#chart-container .rickshaw_graph .x_grid_d3 .tick text {
    fill: #000;
}
#chart-container .rickshaw_graph .x_label {
    display: none;
}



